
<form action="/purchase/<%= @purchase.id %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <% @products.each() do |product| %>
  <label>
    <input type="checkbox" name="product_ids[]" value="<%= product.id %>"><%= product.product_name %>
  </label>
  <% end %>

  <button type="submit">Add products</button>
</form>

<% @product_ids.each do |product_id| %>
<%= Product.find(product_id).product_name %>

<% end %>
